jaxws/src/share/classes/com/sun/tools/internal/jxc/gen/config/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2006 Sun Microsystems, Inc.  All Rights Reserved.
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

 This code is free software; you can redistribute it and/or modify it
 under the terms of the GNU General Public License version 2 only, as
 published by the Free Software Foundation.  Sun designates this
 particular file as subject to the "Classpath" exception as provided
 by Sun in the LICENSE file that accompanied this code.

 This code is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 version 2 for more details (a copy is included in the LICENSE file that
 accompanied this code).

 You should have received a copy of the GNU General Public License version
 2 along with this work; if not, write to the Free Software Foundation,
 Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.

 Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara,
 CA 95054 USA or visit www.sun.com if you need additional information or
 have any questions.
-->
<!-- THIS IS A GENERATED FILE. DO NOT MODIFY. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="classes"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="schema"/>
      </xs:sequence>
      <xs:attribute name="baseDir" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="includes"/>
        <xs:element minOccurs="0" ref="excludes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="includes">
    <xs:simpleType>
      <xs:restriction>
        <xs:simpleType>
          <xs:list itemType="xs:string"/>
        </xs:simpleType>
        <xs:minLength value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="excludes">
    <xs:simpleType>
      <xs:list itemType="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="schema">
    <xs:complexType>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="location" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
