src/java.xml/share/classes/jdk/xml/internal/jdkcatalog/w3c/xsd/xhtml11/xhtml-inlstruct-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified"
 xmlns:xh11d="http://www.w3.org/1999/xhtml/datatypes/"
>
    <xs:import namespace="http://www.w3.org/1999/xhtml/datatypes/" 
               schemaLocation="xhtml-datatypes-1.xsd" />
    <xs:annotation>
        <xs:documentation>
         This is the XML Schema Inline Structural support module for XHTML
         $Id: xhtml-inlstruct-1.xsd,v 1.4 2005/09/26 22:54:53 ahby Exp $
    </xs:documentation>
        <xs:documentation source="xhtml-copyright-1.xsd"/>
    </xs:annotation>
    <xs:annotation>
        <xs:documentation>
      Inline Structural.
      This module declares the elements and their attributes 
      used to support inline-level structural markup.      
      This is the XML Schema Inline Structural element module for XHTML

        * br, span
      
    </xs:documentation>
        <xs:documentation source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_textmodule"/>
    </xs:annotation>
    <xs:attributeGroup name="xhtml.br.attlist">
        <xs:attributeGroup ref="xhtml.Core.attrib"/>
    </xs:attributeGroup>
    <xs:group name="xhtml.br.content">
        <xs:sequence/>
    </xs:group>
    <xs:complexType name="xhtml.br.type">
        <xs:group ref="xhtml.br.content"/>
        <xs:attributeGroup ref="xhtml.br.attlist"/>
    </xs:complexType>
    <xs:attributeGroup name="xhtml.span.attlist">
        <xs:attributeGroup ref="xhtml.Common.attrib"/>
    </xs:attributeGroup>
    <xs:group name="xhtml.span.content">
        <xs:sequence>
            <xs:group ref="xhtml.Inline.mix" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="xhtml.span.type" mixed="true">
        <xs:group ref="xhtml.span.content"/>
        <xs:attributeGroup ref="xhtml.span.attlist"/>
    </xs:complexType>
</xs:schema>
