make/data/cldr/common/dtd/cldrTest.dtd

<!--
Copyright © 1991-2025 Unicode, Inc.
For terms of use, see http://www.unicode.org/copyright.html
SPDX-License-Identifier: Unicode-3.0
CLDR data files are interpreted according to the LDML specification (http://unicode.org/reports/tr35/)
-->

<!-- This is only referenced by the deprecated GenerateLikelySubtagTests.java - see CLDR-17535 -->

<!ELEMENT cldrTest ((number | date | zoneFields | collation | likelySubtags)*) >
<!ATTLIST cldrTest version CDATA #REQUIRED>
<!ATTLIST cldrTest base CDATA #REQUIRED>

<!ELEMENT number (result*) >
<!ATTLIST number locales CDATA #IMPLIED>

<!ELEMENT date (result*) >
<!ATTLIST date locales CDATA #IMPLIED>

<!ELEMENT zoneFields (result*) >
<!ATTLIST zoneFields locales CDATA #IMPLIED>

<!ELEMENT collation (result*) >
<!ATTLIST collation locales CDATA #IMPLIED>

<!ELEMENT likelySubtags (result*) >

<!ELEMENT result ( #PCDATA ) >

<!-- common result attributes -->
<!ATTLIST result input CDATA #IMPLIED>
<!ATTLIST result draft NMTOKENS  #IMPLIED> <!-- approved contributed provisional unconfirmed, or any combination -->

<!-- number result attributes -->
<!ATTLIST result numberType (standard | integer | decimal | percent | scientific) #IMPLIED>

<!-- date result attributes -->
<!ATTLIST result dateType (none | short | medium | long | full) #IMPLIED>
<!ATTLIST result timeType (none | short | medium | long | full) #IMPLIED>

<!-- zoneFields result attributes -->
<!ATTLIST result zone CDATA #IMPLIED>
<!ATTLIST result date NMTOKEN #IMPLIED>
<!ATTLIST result field NMTOKEN #IMPLIED>
<!ATTLIST result parse CDATA  #IMPLIED>

<!-- likelySubtags result attributes -->
<!ATTLIST result add NMTOKEN #IMPLIED>
<!ATTLIST result remove NMTOKEN #IMPLIED>
