jdk/src/jdk.localedata/share/classes/sun/util/cldr/resources/27_0_0/common/dtd/ldmlSupplemental.dtd

<!--
Copyright © 2003-2015 Unicode, Inc. and others. All rights reserved. Distributed under the Terms of Use in http://www.unicode.org/copyright.html.

Permission is hereby granted, free of charge, to any person obtaining a copy of the Unicode data files and any associated documentation (the "Data Files") or Unicode software and any associated documentation (the "Software") to deal in the Data Files or Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, and/or sell copies of the Data Files or Software, and to permit persons to whom the Data Files or Software are furnished to do so, provided that (a) the above copyright notice(s) and this permission notice appear with all copies of the Data Files or Software, (b) both the above copyright notice(s) and this permission notice appear in associated documentation, and (c) there is clear notice in each modified Data File or in the Software as well as in the documentation associated with the Data File(s) or Software that the data or software has been modified.

THE DATA FILES AND SOFTWARE ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF THIRD PARTY RIGHTS. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR HOLDERS INCLUDED IN THIS NOTICE BE LIABLE FOR ANY CLAIM, OR ANY SPECIAL INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THE DATA FILES OR SOFTWARE.

Except as contained in this notice, the name of a copyright holder shall not be used in advertising or otherwise to promote the sale, use or other dealings in these Data Files or Software without prior written authorization of the copyright holder.

    $Revision: 11344 $
    $Date: 2015-03-05 00:02:16 -0600 (Thu, 05 Mar 2015) $
-->

<!ELEMENT supplementalData ( version, generation?, cldrVersion?, currencyData?, territoryContainment?, languageData?, territoryInfo?, postalCodeData?, calendarData?, calendarPreferenceData?, weekData?, timeData?, measurementData?, timezoneData?, characters?, transforms?, metadata?, codeMappings?, parentLocales?, likelySubtags?, metazoneInfo?, plurals?, telephoneCodeData?, numberingSystems?, bcp47KeywordMappings?,  gender?, references?, languageMatching?, dayPeriodRuleSet*, metaZones?, primaryZones?, windowsZones?, coverageLevels?) > <!-- metazoneInfo is deprecated here -->

<!ELEMENT version EMPTY >
<!ATTLIST version number CDATA #REQUIRED >
<!ATTLIST version cldrVersion CDATA #FIXED "27" >
<!ATTLIST version unicodeVersion CDATA #FIXED "7.0.0" >

<!ELEMENT generation EMPTY >
<!ATTLIST generation date CDATA #REQUIRED >

<!ELEMENT cldrVersion EMPTY> <!-- deprecated -->
<!ATTLIST cldrVersion version CDATA #REQUIRED>

<!ELEMENT currencyData ( fractions*, region+ ) >
<!ATTLIST currencyData draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT fractions ( info+ ) >
<!ATTLIST fractions draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT info EMPTY >
<!ATTLIST info iso4217 NMTOKEN #REQUIRED >
<!ATTLIST info digits NMTOKEN #IMPLIED >
<!ATTLIST info rounding NMTOKEN #IMPLIED >
<!ATTLIST info cashDigits NMTOKEN #IMPLIED >
<!ATTLIST info cashRounding NMTOKEN #IMPLIED >
<!ATTLIST info draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST info references CDATA #IMPLIED >

<!ELEMENT region ( currency* ) >
<!ATTLIST region iso3166 NMTOKEN #REQUIRED >
<!ATTLIST region draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT currency ( alternate* ) >
<!ATTLIST currency before NMTOKEN #IMPLIED > <!-- This usage is deprecated. Use from and to. -->
<!ATTLIST currency from NMTOKEN #IMPLIED >
<!ATTLIST currency to NMTOKEN #IMPLIED >
<!ATTLIST currency iso4217 NMTOKEN #REQUIRED >
<!ATTLIST currency digits NMTOKEN #IMPLIED >
<!ATTLIST currency rounding NMTOKEN #IMPLIED >
<!ATTLIST currency cashRounding NMTOKEN #IMPLIED >
<!ATTLIST currency tender ( true | false ) #IMPLIED >
<!ATTLIST currency draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST currency references CDATA #IMPLIED >

<!ELEMENT alternate EMPTY > <!-- This usage is deprecated. Use from and to. -->
<!ATTLIST alternate iso4217 NMTOKEN #REQUIRED >

<!ELEMENT territoryContainment ( group* ) >
<!ELEMENT group EMPTY >
<!ATTLIST group type NMTOKEN #REQUIRED >
<!ATTLIST group contains NMTOKENS #IMPLIED >
<!ATTLIST group grouping ( true | false )  #IMPLIED >
<!ATTLIST group status ( deprecated | grouping ) #IMPLIED >
<!ATTLIST group draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST group references CDATA #IMPLIED >

<!ELEMENT languageData ( language* ) >
<!ELEMENT language EMPTY >
<!ATTLIST language type NMTOKEN #REQUIRED >
<!ATTLIST language scripts NMTOKENS #IMPLIED >
<!ATTLIST language territories NMTOKENS #IMPLIED >
<!ATTLIST language variants NMTOKENS #IMPLIED >
<!ATTLIST language draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST language references CDATA #IMPLIED >
<!ATTLIST language alt NMTOKENS #IMPLIED >

<!ELEMENT territoryInfo ( territory* ) >
<!ATTLIST territoryInfo draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST territoryInfo references CDATA #IMPLIED >
<!ATTLIST territoryInfo alt NMTOKENS #IMPLIED >

<!ELEMENT territory ( languagePopulation* ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >
<!ATTLIST territory gdp NMTOKEN #REQUIRED >
<!ATTLIST territory literacyPercent NMTOKEN #REQUIRED >
<!ATTLIST territory population NMTOKEN #REQUIRED >
<!ATTLIST territory draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST territory references CDATA #IMPLIED >
<!ATTLIST territory alt NMTOKENS #IMPLIED >

<!ELEMENT postalCodeData (postCodeRegex*) > <!-- deprecated -->
<!ELEMENT postCodeRegex (#PCDATA) > <!-- deprecated -->
<!ATTLIST postCodeRegex territoryId NMTOKEN #REQUIRED>
<!ATTLIST postCodeRegex draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT languagePopulation EMPTY >
<!ATTLIST languagePopulation type NMTOKEN #REQUIRED >
<!ATTLIST languagePopulation writingPercent NMTOKEN #IMPLIED >
<!ATTLIST languagePopulation populationPercent NMTOKEN #REQUIRED >
<!ATTLIST languagePopulation officialStatus (de_facto_official | official | official_regional | official_minority)  #IMPLIED >
<!ATTLIST languagePopulation draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST languagePopulation references CDATA #IMPLIED >
<!ATTLIST languagePopulation alt NMTOKENS #IMPLIED >

<!ELEMENT calendarData ( calendar* ) >

<!ELEMENT calendar ( calendarSystem?, eras? ) >
<!ATTLIST calendar type NMTOKEN #REQUIRED >
<!ATTLIST calendar territories NMTOKENS #IMPLIED > <!-- territories are deprecated.  use ordering attribute in calendarPreference element instead. -->
<!ATTLIST calendar draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST calendar references CDATA #IMPLIED >
<!ATTLIST calendar alt NMTOKENS #IMPLIED >

<!ELEMENT calendarSystem EMPTY >
<!ATTLIST calendarSystem type (solar | lunar | lunisolar | other) #REQUIRED >
<!ATTLIST calendarSystem references CDATA #IMPLIED >

<!ELEMENT eras ( era* ) >
<!ATTLIST eras references CDATA #IMPLIED >

<!ELEMENT era EMPTY >
<!ATTLIST era type NMTOKEN #REQUIRED >
<!ATTLIST era start CDATA #IMPLIED >
<!ATTLIST era end CDATA #IMPLIED >

<!ELEMENT calendarPreferenceData ( calendarPreference* ) >
<!ELEMENT calendarPreference EMPTY >
<!ATTLIST calendarPreference territories NMTOKENS #REQUIRED >
<!ATTLIST calendarPreference ordering NMTOKENS #REQUIRED >

<!ELEMENT weekData ( minDays*, firstDay*, weekendStart*, weekendEnd* ) >

<!ELEMENT minDays EMPTY >
<!ATTLIST minDays count (1 | 2 | 3 | 4 | 5 | 6 | 7) #REQUIRED >
<!ATTLIST minDays territories NMTOKENS #REQUIRED >
<!ATTLIST minDays draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST minDays references CDATA #IMPLIED >
<!ATTLIST minDays alt NMTOKENS #IMPLIED >

<!ELEMENT firstDay EMPTY >
<!ATTLIST firstDay day (sun | mon | tue | wed | thu | fri | sat) #REQUIRED >
<!ATTLIST firstDay territories NMTOKENS #REQUIRED >
<!ATTLIST firstDay draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST firstDay references CDATA #IMPLIED >
<!ATTLIST firstDay alt NMTOKENS #IMPLIED >

<!ELEMENT weekendStart EMPTY >
<!ATTLIST weekendStart day (sun | mon | tue | wed | thu | fri | sat) #REQUIRED >
<!ATTLIST weekendStart territories NMTOKENS #REQUIRED >
<!ATTLIST weekendStart draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST weekendStart references CDATA #IMPLIED >
<!ATTLIST weekendStart alt NMTOKENS #IMPLIED >

<!ELEMENT weekendEnd EMPTY >
<!ATTLIST weekendEnd day (sun | mon | tue | wed | thu | fri | sat) #REQUIRED >
<!ATTLIST weekendEnd territories NMTOKENS #REQUIRED >
<!ATTLIST weekendEnd draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST weekendEnd references CDATA #IMPLIED >
<!ATTLIST weekendEnd alt NMTOKENS #IMPLIED >

<!ELEMENT timeData ( hours* ) >
<!ELEMENT hours EMPTY >
<!ATTLIST hours allowed NMTOKENS #REQUIRED >
<!ATTLIST hours preferred NMTOKEN #REQUIRED >
<!ATTLIST hours regions NMTOKENS #REQUIRED >
<!ATTLIST hours draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST hours references CDATA #IMPLIED >

<!ELEMENT measurementData ( measurementSystem*, paperSize* ) >

<!ELEMENT measurementSystem EMPTY >
<!ATTLIST measurementSystem type ( metric | US | UK ) #REQUIRED >
<!ATTLIST measurementSystem category ( temperature ) #IMPLIED >
<!ATTLIST measurementSystem territories NMTOKENS #REQUIRED >
<!ATTLIST measurementSystem draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST measurementSystem references CDATA #IMPLIED >
<!ATTLIST measurementSystem alt NMTOKENS #IMPLIED >

<!ELEMENT paperSize EMPTY >
<!ATTLIST paperSize type ( A4 | US-Letter ) #REQUIRED >
<!ATTLIST paperSize territories NMTOKENS #REQUIRED >
<!ATTLIST paperSize draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST paperSize references CDATA #IMPLIED >
<!ATTLIST paperSize alt NMTOKENS #IMPLIED >

<!ELEMENT characters ( character-fallback*) >
<!ATTLIST characters draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT character-fallback ( character* ) >

<!ELEMENT character (substitute*) >
<!ATTLIST character value CDATA #REQUIRED >
<!ATTLIST character draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST character standard CDATA #IMPLIED >
<!ATTLIST character references CDATA #IMPLIED >
<!ATTLIST character alt NMTOKENS #IMPLIED >

<!ELEMENT substitute (#PCDATA) >
<!ATTLIST substitute draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST substitute standard CDATA #IMPLIED >
<!ATTLIST substitute references CDATA #IMPLIED >
<!ATTLIST substitute alt NMTOKENS #IMPLIED >

<!ELEMENT transforms ( transform*) >

<!ELEMENT transform ((comment | tRule)*) >
<!ATTLIST transform source CDATA #IMPLIED >
<!ATTLIST transform target CDATA #IMPLIED >
<!ATTLIST transform variant CDATA #IMPLIED >
<!ATTLIST transform direction ( forward | backward | both ) "both" >
<!ATTLIST transform visibility ( internal | external ) "external" >
<!ATTLIST transform draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST transform references CDATA #IMPLIED >
<!ATTLIST transform alt NMTOKENS #IMPLIED >

<!ELEMENT comment (#PCDATA) >

<!ELEMENT tRule (#PCDATA) >

<!ELEMENT metadata ( attributeOrder?, elementOrder?, serialElements?, suppress?, validity?, alias?, deprecated?, distinguishing?, blocking?, coverageAdditions?, skipDefaultLocale?, defaultContent?) >
<!ATTLIST metadata draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT attributeOrder ( #PCDATA ) >
<!ATTLIST attributeOrder draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT elementOrder ( #PCDATA ) >
<!ATTLIST elementOrder draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT serialElements ( #PCDATA ) >
<!ATTLIST serialElements draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT suppress (  attributes*  ) >
<!ATTLIST suppress draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT attributes EMPTY >
<!ATTLIST attributes element NMTOKENS #IMPLIED >
<!ATTLIST attributes attribute NMTOKENS #IMPLIED >
<!ATTLIST attributes attributeValue CDATA #IMPLIED >
<!ATTLIST attributes draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT validity (  variable*,  attributeValues* ) >
<!ATTLIST validity draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT variable ( #PCDATA ) >
<!ATTLIST variable type NMTOKEN #IMPLIED >
<!ATTLIST variable id CDATA #REQUIRED >
<!ATTLIST variable draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT attributeValues (  #PCDATA ) >
<!ATTLIST attributeValues type NMTOKEN #IMPLIED >
<!ATTLIST attributeValues elements NMTOKENS #IMPLIED >
<!ATTLIST attributeValues attributes NMTOKENS #IMPLIED >
<!ATTLIST attributeValues order NMTOKEN #IMPLIED >
<!ATTLIST attributeValues draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT alias ( languageAlias*,  scriptAlias*, territoryAlias*, variantAlias*, zoneAlias* ) >
<!ATTLIST alias draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED ><!-- true and false are deprecated. -->

<!ELEMENT languageAlias EMPTY >
<!ATTLIST languageAlias type NMTOKEN #REQUIRED >
<!ATTLIST languageAlias replacement NMTOKEN #REQUIRED >
<!ATTLIST languageAlias reason ( deprecated | overlong | macrolanguage | legacy | bibliographic ) #IMPLIED >

<!ELEMENT scriptAlias EMPTY >
<!ATTLIST scriptAlias type NMTOKEN #REQUIRED >
<!ATTLIST scriptAlias replacement NMTOKEN #REQUIRED >
<!ATTLIST scriptAlias reason ( deprecated | overlong ) #IMPLIED >

<!ELEMENT territoryAlias EMPTY >
<!ATTLIST territoryAlias type NMTOKEN #REQUIRED >
<!ATTLIST territoryAlias replacement NMTOKENS #REQUIRED >
<!ATTLIST territoryAlias reason ( deprecated | overlong ) #IMPLIED >

<!ELEMENT variantAlias EMPTY >
<!ATTLIST variantAlias type NMTOKEN #REQUIRED >
<!ATTLIST variantAlias replacement NMTOKEN #REQUIRED >
<!ATTLIST variantAlias reason ( deprecated | overlong ) #IMPLIED >

<!ELEMENT zoneAlias EMPTY >
<!ATTLIST zoneAlias type CDATA #REQUIRED >
<!ATTLIST zoneAlias replacement CDATA #REQUIRED >
<!ATTLIST zoneAlias reason ( deprecated | overlong ) #IMPLIED >

<!ELEMENT deprecated ( deprecatedItems* ) >
<!ATTLIST deprecated draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT deprecatedItems EMPTY >
<!ATTLIST deprecatedItems type ( standard | supplemental | ldml | supplementalData | ldmlBCP47 ) #IMPLIED > <!-- standard | supplemental are deprecated -->
<!ATTLIST deprecatedItems elements NMTOKENS #IMPLIED >
<!ATTLIST deprecatedItems attributes NMTOKENS #IMPLIED >
<!ATTLIST deprecatedItems values CDATA #IMPLIED >
<!ATTLIST deprecatedItems draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT distinguishing ( distinguishingItems* ) >
<!ATTLIST distinguishing draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >

<!ELEMENT distinguishingItems EMPTY >
<!ATTLIST distinguishingItems exclude ( true | false ) #IMPLIED >
<!ATTLIST distinguishingItems elements NMTOKENS #IMPLIED >
<!ATTLIST distinguishingItems attributes NMTOKENS #IMPLIED >
<!ATTLIST distinguishingItems draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >

<!ELEMENT blocking ( blockingItems* ) >
<!ATTLIST blocking draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >

<!ELEMENT blockingItems EMPTY >
<!ATTLIST blockingItems elements NMTOKENS #IMPLIED >
<!ATTLIST blockingItems draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >

<!ELEMENT coverageAdditions (  languageCoverage*,  scriptCoverage*, territoryCoverage*, currencyCoverage*, timezoneCoverage* ) ><!-- deprecated. -->
<!ATTLIST coverageAdditions draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT languageCoverage EMPTY ><!-- deprecated. -->
<!ATTLIST languageCoverage type NMTOKEN #IMPLIED >
<!ATTLIST languageCoverage values NMTOKENS #IMPLIED >
<!ATTLIST languageCoverage draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT scriptCoverage EMPTY ><!-- deprecated. -->
<!ATTLIST scriptCoverage type NMTOKEN #IMPLIED >
<!ATTLIST scriptCoverage values NMTOKENS #IMPLIED >
<!ATTLIST scriptCoverage draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT territoryCoverage EMPTY ><!-- deprecated. -->
<!ATTLIST territoryCoverage type NMTOKEN #IMPLIED >
<!ATTLIST territoryCoverage values NMTOKENS #IMPLIED >
<!ATTLIST territoryCoverage draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT currencyCoverage EMPTY ><!-- deprecated. -->
<!ATTLIST currencyCoverage type NMTOKEN #IMPLIED >
<!ATTLIST currencyCoverage values NMTOKENS #IMPLIED >
<!ATTLIST currencyCoverage draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT timezoneCoverage EMPTY ><!-- deprecated. -->
<!ATTLIST timezoneCoverage type NMTOKEN #IMPLIED >
<!ATTLIST timezoneCoverage values CDATA #IMPLIED > <!-- would be NMTOKENS, but needs to allow / -->
<!ATTLIST timezoneCoverage draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->

<!ELEMENT defaultContent EMPTY >
<!ATTLIST defaultContent locales NMTOKENS #IMPLIED >

<!ELEMENT skipDefaultLocale EMPTY >
<!ATTLIST skipDefaultLocale services NMTOKENS #IMPLIED >

<!ELEMENT codeMappings (languageCodes*, territoryCodes*, currencyCodes*) >

<!ELEMENT languageCodes EMPTY >
<!ATTLIST languageCodes type NMTOKEN #REQUIRED>
<!ATTLIST languageCodes alpha3 NMTOKEN #REQUIRED>

<!ELEMENT territoryCodes EMPTY >
<!ATTLIST territoryCodes type NMTOKEN #REQUIRED>
<!ATTLIST territoryCodes numeric NMTOKEN #IMPLIED>
<!ATTLIST territoryCodes alpha3 NMTOKEN #IMPLIED>
<!ATTLIST territoryCodes fips10 NMTOKEN #IMPLIED>
<!ATTLIST territoryCodes internet NMTOKENS #IMPLIED>

<!ELEMENT currencyCodes EMPTY >
<!ATTLIST currencyCodes type NMTOKEN #REQUIRED>
<!ATTLIST currencyCodes numeric NMTOKEN #REQUIRED>
<!ELEMENT likelySubtags (likelySubtag*) >
<!ELEMENT likelySubtag EMPTY >
<!ATTLIST likelySubtag from NMTOKEN #REQUIRED>
<!ATTLIST likelySubtag to NMTOKEN #REQUIRED>

<!ELEMENT plurals (pluralRules*, pluralRanges*) >
<!ATTLIST plurals type ( ordinal | cardinal ) #IMPLIED > <!-- default is cardinal -->
<!ATTLIST plurals draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > 
<!ATTLIST plurals references CDATA #IMPLIED >

<!ELEMENT pluralRules (pluralRule*) >
<!ATTLIST pluralRules locales NMTOKENS #REQUIRED >
<!ATTLIST pluralRules draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > 
<!ATTLIST pluralRules references CDATA #IMPLIED >

<!ELEMENT pluralRule ( #PCDATA ) >
<!ATTLIST pluralRule count (zero | one | two | few | many | other) #REQUIRED > <!-- 'other' is implicitly everything else -->
<!ATTLIST pluralRule draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST pluralRule references CDATA #IMPLIED >

<!ELEMENT pluralRanges (pluralRange*) >
<!ATTLIST pluralRanges locales NMTOKENS #REQUIRED >
<!ATTLIST pluralRanges draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > 
<!ATTLIST pluralRanges references CDATA #IMPLIED >

<!ELEMENT pluralRange ( #PCDATA ) >
<!ATTLIST pluralRange start (zero | one | two | few | many | other) #IMPLIED > <!-- if missing, means *all* -->
<!ATTLIST pluralRange end (zero | one | two | few | many | other) #IMPLIED > <!-- if missing, means *all* -->
<!ATTLIST pluralRange result (zero | one | two | few | many | other) #REQUIRED > <!-- if a whole rule is missing, means *other* -->
<!ATTLIST pluralRange draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST pluralRange references CDATA #IMPLIED >


<!ELEMENT telephoneCodeData ( codesByTerritory* ) >

<!ELEMENT codesByTerritory ( telephoneCountryCode+ ) >
<!ATTLIST codesByTerritory territory NMTOKEN #REQUIRED >
<!ATTLIST codesByTerritory draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST codesByTerritory references CDATA #IMPLIED >

<!ELEMENT telephoneCountryCode EMPTY >
<!ATTLIST telephoneCountryCode code NMTOKEN #REQUIRED >
<!ATTLIST telephoneCountryCode from NMTOKEN #IMPLIED >
<!ATTLIST telephoneCountryCode to NMTOKEN #IMPLIED >
<!ATTLIST telephoneCountryCode draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST telephoneCountryCode references CDATA #IMPLIED >
<!ATTLIST telephoneCountryCode alt NMTOKENS #IMPLIED >

<!ELEMENT numberingSystems ( numberingSystem* ) >
<!ELEMENT numberingSystem EMPTY >
<!ATTLIST numberingSystem type ( numeric | algorithmic ) #REQUIRED >
<!ATTLIST numberingSystem id NMTOKEN #REQUIRED >
<!ATTLIST numberingSystem radix NMTOKEN #IMPLIED >
<!ATTLIST numberingSystem digits CDATA #IMPLIED >
<!ATTLIST numberingSystem rules CDATA #IMPLIED >
<!ATTLIST numberingSystem draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > 

<!ELEMENT references ( reference* ) >
<!ELEMENT reference ( #PCDATA ) >
<!ATTLIST reference type NMTOKEN #REQUIRED>
<!ATTLIST reference uri CDATA #IMPLIED >
<!ATTLIST reference draft ( approved | contributed | provisional | unconfirmed | true | false ) #IMPLIED > <!-- true and false are deprecated. -->
<!ATTLIST reference standard ( true | false ) #IMPLIED >
<!ATTLIST reference alt NMTOKENS #IMPLIED >

<!ELEMENT bcp47KeywordMappings ( mapKeys?, mapTypes* ) > <!-- deprecated. -->

<!ELEMENT mapKeys ( keyMap* ) > <!-- deprecated. -->

<!ELEMENT keyMap EMPTY > <!-- deprecated. -->
<!ATTLIST keyMap type NMTOKEN #REQUIRED >
<!ATTLIST keyMap bcp47 NMTOKEN #REQUIRED >

<!ELEMENT mapTypes ( typeMap* ) > <!-- deprecated. -->
<!ATTLIST mapTypes type NMTOKEN #REQUIRED >

<!ELEMENT typeMap EMPTY > <!-- deprecated. -->
<!ATTLIST typeMap type CDATA #REQUIRED >
<!ATTLIST typeMap bcp47 NMTOKEN #REQUIRED >

<!ELEMENT languageMatching ( languageMatches* ) >

<!ELEMENT languageMatches ( languageMatch* ) >
<!ATTLIST languageMatches type NMTOKEN #REQUIRED >

<!ELEMENT languageMatch EMPTY >
<!ATTLIST languageMatch desired CDATA #REQUIRED >
<!ATTLIST languageMatch oneway ( true | false ) #IMPLIED >
<!ATTLIST languageMatch percent NMTOKEN #REQUIRED >
<!ATTLIST languageMatch supported CDATA #REQUIRED >

<!-- Day Periods -->
<!ELEMENT dayPeriodRuleSet ( dayPeriodRules* ) >
<!ATTLIST dayPeriodRuleSet type NMTOKEN #IMPLIED >
<!ATTLIST dayPeriodRuleSet draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > 
<!ATTLIST dayPeriodRuleSet references CDATA #IMPLIED >

<!ELEMENT dayPeriodRules (dayPeriodRule*) >
<!ATTLIST dayPeriodRules locales NMTOKENS #REQUIRED >
<!ATTLIST dayPeriodRules draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED > 
<!ATTLIST dayPeriodRules references CDATA #IMPLIED >

<!ELEMENT dayPeriodRule EMPTY >
<!ATTLIST dayPeriodRule type NMTOKEN #REQUIRED >
<!ATTLIST dayPeriodRule at NMTOKEN #IMPLIED >
<!ATTLIST dayPeriodRule after NMTOKEN #IMPLIED >
<!ATTLIST dayPeriodRule before NMTOKEN #IMPLIED >
<!ATTLIST dayPeriodRule from NMTOKEN #IMPLIED >
<!ATTLIST dayPeriodRule to NMTOKEN #IMPLIED >
<!ATTLIST dayPeriodRule draft ( approved | contributed | provisional | unconfirmed ) #IMPLIED >
<!ATTLIST dayPeriodRule references CDATA #IMPLIED > 

<!-- Time Zones -->

<!ELEMENT windowsZones (mapTimezones?) >
<!ELEMENT metaZones (metazoneInfo?, mapTimezones?) >

<!ELEMENT metazoneInfo (timezone*) >

<!ELEMENT timezone (usesMetazone*) >
<!ATTLIST timezone type CDATA #REQUIRED >

<!ELEMENT usesMetazone EMPTY >
<!ATTLIST usesMetazone from CDATA #IMPLIED >
<!ATTLIST usesMetazone to CDATA #IMPLIED >
<!ATTLIST usesMetazone mzone NMTOKEN #REQUIRED >

<!ELEMENT mapTimezones ( mapZone* ) >
<!ATTLIST mapTimezones type NMTOKEN #IMPLIED >
<!ATTLIST mapTimezones otherVersion CDATA #IMPLIED >
<!ATTLIST mapTimezones typeVersion CDATA #IMPLIED >
<!ATTLIST mapTimezones references CDATA #IMPLIED >

<!ELEMENT mapZone EMPTY >
<!ATTLIST mapZone type CDATA #REQUIRED >
<!ATTLIST mapZone other CDATA #REQUIRED >
<!ATTLIST mapZone territory CDATA #IMPLIED >
<!ATTLIST mapZone references CDATA #IMPLIED >


<!ELEMENT timezoneData ( mapTimezones*, zoneFormatting* ) > <!-- deprecated. -->

<!ELEMENT zoneFormatting ( zoneItem* ) > <!-- deprecated. -->
<!ATTLIST zoneFormatting multizone NMTOKENS #REQUIRED >
<!ATTLIST zoneFormatting tzidVersion CDATA #IMPLIED >
<!ATTLIST zoneFormatting references CDATA #IMPLIED >

<!ELEMENT zoneItem EMPTY > <!-- deprecated. -->
<!ATTLIST zoneItem type CDATA #REQUIRED >
<!ATTLIST zoneItem territory NMTOKEN #REQUIRED >
<!ATTLIST zoneItem aliases CDATA #IMPLIED >
<!ATTLIST zoneItem references CDATA #IMPLIED >

<!ELEMENT primaryZones ( primaryZone* ) >
<!ELEMENT primaryZone ( #PCDATA ) >
<!ATTLIST primaryZone iso3166 NMTOKEN #REQUIRED >

<!-- Coverage levels -->
<!ELEMENT coverageLevels ( approvalRequirements, coverageVariable*, coverageLevel* ) >

<!ELEMENT approvalRequirements ( approvalRequirement* ) >
<!ELEMENT approvalRequirement EMPTY >

<!ATTLIST approvalRequirement votes CDATA #REQUIRED>
<!ATTLIST approvalRequirement locales CDATA #REQUIRED>
<!ATTLIST approvalRequirement paths CDATA #REQUIRED>

<!ELEMENT coverageVariable EMPTY >
<!ATTLIST coverageVariable key CDATA #REQUIRED >
<!ATTLIST coverageVariable value CDATA #REQUIRED >

<!ELEMENT coverageLevel EMPTY >
<!ATTLIST coverageLevel inLanguage CDATA #IMPLIED >
<!ATTLIST coverageLevel inScript CDATA #IMPLIED >
<!ATTLIST coverageLevel inTerritory CDATA #IMPLIED >
<!ATTLIST coverageLevel value CDATA #REQUIRED >
<!ATTLIST coverageLevel match CDATA #REQUIRED >

<!-- Parent locales -->
<!ELEMENT parentLocales ( parentLocale* ) >

<!ELEMENT parentLocale EMPTY >
<!ATTLIST parentLocale parent CDATA #REQUIRED >
<!ATTLIST parentLocale locales CDATA #REQUIRED >

<!-- Gender List support -->
<!ELEMENT gender ( personList+ ) >
<!ELEMENT personList EMPTY >
<!ATTLIST personList type ( neutral | mixedNeutral | maleTaints ) #REQUIRED >
<!ATTLIST personList locales NMTOKENS #REQUIRED >

